h1{
    background-color: aquamarine;
    color:black;
}
.sender{
    background-color: blue;
    font-size: large;
    color: black;

}
span{
    background-color: fuchsia;
    color: goldenrod;
}